/* @import url("https://fonts.googleapis.com/css2?family=Abel&family=Abhaya+Libre:wght@800&family=Acme&family=Bakbak+One&family=Baloo+Bhai+2:wght@400;800&family=Changa&family=Martel+Sans:wght@700&family=Red+Hat+Display:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bakbak+One&family=Poppins:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #00011e;
}

body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  line-height: 1.5;
}

#nprogress .bar {
  background: black;
}

.dashboard {
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Bakbak One", "san-serif";
}

p {
  font-family: "Abel", "sans-serif";
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#4aff01, #4aff01);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.home-hero {
  background-image: url("/assets/bg-lines.png");
  background-position: 0% 60%;
  background-repeat: no-repeat;
}

.sphere-container {
  height: 700px;
  width: 100%;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform: scale(1.6);
}

.circle {
  height: 300px;
  width: 300px;
  border: 5px solid #2e1467;
  border-radius: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}

.circle > div {
  height: 300px;
  width: 300px;
  border: 5px solid #59d66d;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
}

.circle > div:nth-child(1) {
  transform: rotateY(36deg);
}
.circle > div:nth-child(2) {
  transform: rotateY(72deg);
}

.circle > div:nth-child(3) {
  transform: rotateY(108deg);
}

.circle > div:nth-child(4) {
  transform: rotateY(144deg);
}
